*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

composer.lock

#codeigniter 3
/vendor/
/public_html/vendor/
/public_html/assets/vendor/

#editores
nbproject/
.vscode/
